  <body>
    <div class="recruiters-profle-div">
      <div class="profile-page-div">
        <div class="background-div">
          <div class="hexagons-1-div"><img class="vector-icon33" alt="" /></div>
          <div class="profile-picture-div2">
            <img class="ellipse-icon2" alt="" src="assets/public/ellipse-11@2x.png" />
          </div>
        </div>
        <div class="profile-items-div2">
          <div class="social-media-and-edit-div">
            <div class="social-media-div2">
              <div class="icons-div">
                <a class="facebook" target="_blank" href="{{this.links[0]}}"
                  ><img
                    class="facebook-1-icon1"
                    alt=""
                    src="assets/public/facebook-11@2x.png" /></a
                ><a class="facebook" target="_blank" href="{{this.links[1]}}"
                  ><img
                    class="instagram-1-icon1"
                    alt=""
                    src="assets/public/instagram-11@2x.png"/></a
                ><a class="facebook" target="_blank" href="{{this.links[2]}}"
                  ><img
                    class="linkedin-1-icon1"
                    alt=""
                    src="assets/public/linkedin-11@2x.png"
                /></a>
              </div>
            </div>
            <button class="button-secondary" id="buttonSecondary" (click)="openEditProfileModal()">
              <div class="edit-profile-div12">Edit Profile</div>
            </button>
          </div>
          <div class="name-div"><b class="users-name-b">{{this.rec.companyName}}</b></div>
          <div class="meta-data-div1">
            <div class="meta-data-recruiter-div">
              <div class="established-div">
                <img
                  class="briefcase-1-icon"
                  alt=""
                  src="assets/public/briefcase.png"
                />
                <div class="since-2010-div">Since {{this.rec.estDate}}</div>
              </div>
              <div class="location-div8">
                <img class="vector-icon34" alt="" src="assets/public/vector33.svg" />
                <div class="since-2010-div">{{this.rec.location}}</div>
              </div>
            </div>
          </div>
          <div class="line-divider"><div class="line-divider-1"></div></div>
          <div class="about-me-div">
            <div class="about-me-box-div">
              <div class="about-me-box-div1">
                <div class="frame-div1">
                  <div class="since-2010-div">About us</div>
                  <button class="edit-button">
                    <img
                      class="vector-icon35"
                      alt=""
                      src="assets/public/vector34.svg"
                    />
                  </button>
                </div>
                <textarea
                  class="desc-textarea"
                  placeholder="Say something about yourself"
                  rows="{5}"
                >We strive to cultivate professional writers and produce high quality work.</textarea>
              </div>
            </div>
          </div>
          <div class="ratings-and-badges-div">
            <div class="ratings-div">
              <div class="ratings-box-div">
                <div class="heading-div2">
                  <div class="users-name-b">Ratings</div>
                </div>
                <div class="ratings-div2">
                  <div class="rating-div1" *ngFor="let review of this.reviews">
                    <div class="stars-div1">
                      <img
                        class="star-1-icon"
                        alt=""
                        src="assets/public/star-1.svg"
                      /><img
                        class="star-1-icon"
                        alt=""
                        src="assets/public/star-3.svg"
                      /><img
                        class="star-1-icon"
                        alt=""
                        src="assets/public/star-4.svg"
                      /><img
                        class="star-1-icon"
                        alt=""
                        src="assets/public/star-5.svg"
                      /><img
                        class="star-1-icon"
                        alt=""
                        src="assets/public/star-2.svg"
                      />
                    </div>
                    <div class="rater-div">
                      <div class="googlecom-div"><b>—{{review.recName}}</b></div>
                    </div>
                    <div class="comment-div1">
                      <div class="users-name-b">
                        {{review.comment}}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <button class="settings-button" (click)="openSettingsModal()">
          <img
            class="settings-icon"
            alt=""
            src="assets/public/settings.svg"
            id="settingsIcon"
          />
        </button>
      </div>
    </div>
  </body>
