  <body>
    <div class="student-profile-div">
      <div class="profile-page-div3">
        <div class="background-div2">
          <div class="hexagons-1-div2">
            <img class="vector-icon65" alt="" />
          </div>
        </div>
        <div class="profile-picture-div6">
          <img class="ellipse-icon6" alt="" src="assets/public/ellipse-1@2x.png" />
        </div>
        <div class="social-media-div3">
          <div class="points-and-edits1">
            <div class="points-div2">
              <img class="group-icon2" alt="" src="public/group2.svg" />
              <div class="number-div2">5</div>
              <div></div>
            </div>
            <button class="button-secondary6" id="buttonSecondary" (click)="openEditProfileModal()">
              <div class="edit-profile-div18">Edit Profile</div>
            </button>
          </div>
        </div>
        <div class="profile-items-div4">
          <div class="name-div2"><b class="users-name-b2">Mary Jane</b></div>
          <div class="meta-data-div6">
            <div class="meta-data-student-div1">
              <div class="meta-item-1-div1">
                <img class="vector-icon66" alt="" src="public/vector63.svg" />
                <div class="eduvos-2021-2023-div1">Eduvos (2021-2023)</div>
              </div>
              <div class="meta-item-2-div1">
                <img class="vector-icon66" alt="" src="public/vector64.svg" />
                <div class="number-div2">Business Management</div>
              </div>
              <div class="meta-item-1-div1">
                <img class="vector-icon68" alt="" src="public/vector65.svg" />
                <div class="johannesburg-div2">Johannesburg</div>
              </div>
            </div>
          </div>
          <div class="line-divider2"><div class="line-divider-12"></div></div>
          <div class="about-me-div4">
            <div class="about-me-box-div4">
              <div class="about-me-box-div5">
                <div class="frame-div9" data-animate-on-scroll>
                  <div class="number-div2">About me</div>
                  <button class="edit-1-button">
                    <img
                      class="vector-icon69"
                      alt=""
                      src="public/vector66.svg"
                    /><img
                      class="vector-icon70"
                      alt=""
                      src="public/vector67.svg"
                    />
                  </button>
                </div>
                <textarea
                  class="desc-textarea1"
                  placeholder="Say something about yourself"
                  rows="{5}"
                ></textarea>
              </div>
            </div>
            <div class="interests-div3">
              <div class="interests-component-div1">
                <div class="interests-div4">
                  <div class="number-div2">Interests</div>
                  <button class="edit-1-button1" id="edit1Button1">
                    <img
                      class="vector-icon69"
                      alt=""
                      src="public/vector68.svg"
                    /><img
                      class="vector-icon70"
                      alt=""
                      src="public/vector69.svg"
                    />
                  </button>
                </div>
                <div class="interest-bubbles-div1">
                  <div class="interests-bubble-div4">
                    <div class="technical-writing-div6">Technical writing</div>
                  </div>
                  <div class="interests-bubble-div4">
                    <div class="technical-writing-div6">JavaScript</div>
                  </div>
                  <div class="interests-bubble-div4">
                    <div class="technical-writing-div6">Web development</div>
                  </div>
                  <div class="interests-bubble-div4">
                    <div class="technical-writing-div6">Python</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="my-cv-div4">
            <button class="my-cv-box-button" id="myCvBoxButton" (click)="openUploadCVModal()">
              <div class="my-cv-div5">My CV</div>
              <img
                class="forward-1-icon"
                alt=""
                src="public/forward-1.svg"
                id="forward1Icon"
              />
            </button>
          </div>
          <div class="profile-box-div2">
            <div class="profile-box-div3">
              <div class="frame-div10">
                <div class="title-div31">
                  <div class="frame-div11">
                    <input
                      class="title-input"
                      type="text"
                      placeholder="General"
                    /><button class="frame-button">
                      <img
                        class="vector-icon73"
                        alt=""
                        src="public/vector70.svg"
                      />
                    </button>
                    <div class="frame-div12">
                      <img
                        class="vector-icon74"
                        alt=""
                        src="public/vector71.svg"
                      />
                    </div>
                  </div>
                  <select class="dropdown-box-select">
                    <option value="Technical Writing">Technical Writing</option>
                    <option value="General">General</option>
                  </select>
                </div>
                <input
                  class="desc-input"
                  type="text"
                  placeholder="Your profile description goes here"
                />
                <div class="project-collection-div2">
                  <div class="projects-box-div1">
                    <div class="title-div32">
                      <div class="number-div2">Projects</div>
                      <button class="frame-button1" id="frameButton1">
                        <img
                          class="vector-icon75"
                          alt=""
                          src="public/vector72.svg"
                        />
                      </button>
                    </div>
                    <div class="project-collection-div3">
                      <div class="project-card-div4">
                        <div class="project-card-div5">
                          <div class="frame-div13">
                            <div class="project-name-and-options-div2">
                              <div class="project-name-div2">
                                <div class="number-div2">
                                  Blog Writing Project
                                </div>
                              </div>
                              <div class="project-options-div2">
                                <button class="edit-3-button" id="edit3Button">
                                  <img
                                    class="vector-icon69"
                                    alt=""
                                    src="public/vector73.svg"
                                  /><img
                                    class="vector-icon70"
                                    alt=""
                                    src="public/vector74.svg"
                                  /></button
                                ><button class="close-1-button">
                                  <img
                                    class="vector-icon78"
                                    alt=""
                                    src="public/vector75.svg"
                                  />
                                </button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="ratings-and-badges-div2">
            <div class="ratings-div6">
              <div class="ratings-box-div2">
                <div class="heading-div6">
                  <div class="users-name-b2">Ratings</div>
                </div>
                <div class="ratings-div8">
                  <div class="rating-div7">
                    <div class="project-options-div2">
                      <img
                        class="star-1-icon6"
                        alt=""
                        src="public/star-16.svg"
                      /><img
                        class="star-1-icon6"
                        alt=""
                        src="public/star-36.svg"
                      /><img
                        class="star-1-icon6"
                        alt=""
                        src="public/star-46.svg"
                      /><img
                        class="star-1-icon6"
                        alt=""
                        src="public/star-56.svg"
                      /><img
                        class="star-1-icon6"
                        alt=""
                        src="public/star-26.svg"
                      />
                    </div>
                    <div class="rater-div6">
                      <div class="googlecom-div6">—Google.com</div>
                    </div>
                    <div class="comment-div7">
                      <div class="users-name-b2">
                        Lorem ipsum dolor sit amet consectetur.
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="badges-div3">
              <div class="badges-box-div1">
                <div class="heading-div7">
                  <div class="number-div2">Badges</div>
                </div>
                <div class="badges-div5">
                  <div class="badge-container-div3">
                    <img
                      class="badge-1-icon3"
                      alt=""
                      src="public/badge-13.svg"
                    />
                    <div class="details-div23">
                      <div class="word-365-div3">Word 365</div>
                      <div class="scholarspace-div3">ScholarSpace</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <button class="settings-button1">
          <img
            class="settings-icon1"
            alt=""
            src="public/settings.svg"
            id="settingsIcon"
          />
        </button>
      </div>
    </div>

    <div
      id="editProfileModalContainer"
      class="popup-overlay"
      style="display: none"
    >
      <div class="edit-profile-modal-div">
        <div class="title-and-close-div10">
          <div class="closebutton-div2">
            <img
              class="vector-icon22"
              alt=""
              src="public/vector22.svg"
              id="popupvectorIcon"
            />
          </div>
          <div class="edit-profile-div5">Edit Profile</div>
        </div>
        <div class="main-section-div10">
          <div class="change-profile-pic-div">
            <div class="profile-picture-div1">
              <img class="ellipse-icon1" alt="" src="public/ellipse-1@2x.png" />
            </div>
            <button class="change-profile-picture">
              Change Profile Picture
            </button>
          </div>
          <div class="title-and-close-div10">
            <div class="profile-picture-div1">
              <div class="institute-div">Personal Details</div>
            </div>
            <div class="content-div1">
              <input class="name-input1" type="text" placeholder="Name" /><input
                class="name-input1"
                type="text"
                placeholder="Surname"
              />
            </div>
          </div>
          <div class="education-div">
            <div class="institute-div">Institute</div>
            <input
              class="eduvos-input"
              type="text"
              placeholder="Name of your institution"
            />
          </div>
          <div class="education-div">
            <div class="institute-div">Qualification</div>
            <select class="eduvos-select">
              <option value="Information Technology">
                Information Technology
              </option>
            </select>
          </div>
          <div class="education-div">
            <div class="institute-div">Location</div>
            <div class="location-div7">
              <img
                class="vector-icon23"
                alt=""
                src="public/vector23.svg"
              /><input
                class="johannesburg-input1"
                type="text"
                placeholder="Your location"
              />
            </div>
          </div>
        </div>
        <div class="bottom-section-div4">
          <button class="button-primary4">
            <div class="edit-profile-div6">Save</div>
          </button>
        </div>
      </div>
    </div>

    <div
      id="uploadCVModalContainer"
      class="popup-overlay"
      style="display: none"
    >
      <div class="upload-cv-modal-div">
        <div class="main-section-div11">
          <div class="close-and-title">
            <div class="closebutton-div3">
              <img
                class="vector-icon24"
                alt=""
                src="public/vector.svg"
                id="popupvectorIcon"
              />
            </div>
            <div class="upload-cv-div">Upload CV</div>
          </div>
          <div class="details-div2">
            <div class="no-cv-has-been-attached">No CV has been attached</div>
          </div>
          <div class="uploadcv-div">
            <input class="rectangle-input" type="file" />
          </div>
          <div class="cv-modal-item-div">
            <div class="my-cv-box-div">
              <div class="no-cv-has-been-attached">My CV</div>
              <div class="options-div">
                <img
                  class="vector-icon25"
                  alt=""
                  src="public/vector25.svg"
                /><img class="vector-icon25" alt="" src="public/vector26.svg" />
              </div>
            </div>
          </div>
        </div>
        <div class="bottomsection-div">
          <div class="upload-div">
            <div class="button-primary-div1">
              <div class="no-cv-has-been-attached">Upload</div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="uploadCVModalPopup" class="popup-overlay" style="display: none">
      <div class="upload-cv-modal-div1">
        <div class="upload-cv-modal-div2">
          <div class="main-section-div12">
            <div class="close-and-title1">
              <div class="closebutton-div4">
                <img
                  class="vector-icon27"
                  alt=""
                  src="public/vector.svg"
                  id="popupvectorIcon"
                />
              </div>
              <div class="upload-cv-div1">Upload CV</div>
            </div>
            <div class="details-div3">
              <div class="no-cv-has-been-attached1">
                No CV has been attached
              </div>
            </div>
            <div class="uploadcv-div1">
              <input class="rectangle-input1" type="file" />
            </div>
            <div class="cv-modal-item-div1">
              <div class="my-cv-box-div1">
                <div class="no-cv-has-been-attached1">My CV</div>
                <div class="options-div1">
                  <img
                    class="vector-icon28"
                    alt=""
                    src="public/vector25.svg"
                  /><img
                    class="vector-icon28"
                    alt=""
                    src="public/vector26.svg"
                  />
                </div>
              </div>
            </div>
          </div>
          <div class="bottomsection-div1">
            <div class="upload-div1">
              <div class="button-primary-div2">
                <div class="no-cv-has-been-attached1">Upload</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div
      id="addEditProjectModalPopup"
      class="popup-overlay"
      style="display: none"
    >
      <div class="add-edit-project-modal-div">
        <div class="add-edit-project-modal-div1">
          <div class="title-and-close-div11">
            <div class="closebutton-div5">
              <img
                class="vector-icon30"
                alt=""
                src="public/vector.svg"
                id="popupvectorIcon"
              />
            </div>
            <div class="addedit-project-div">Add/Edit Project</div>
          </div>
          <div class="main-section-div13">
            <input
              class="project-title-input"
              type="text"
              placeholder="Title for your project"
            />
            <div class="profiles-div">
              <div class="heading-div">
                <div class="profiles-div1">Profiles</div>
              </div>
              <div class="profile-items-div">
                <input class="generic-checkbox-input" type="checkbox" />
              </div>
            </div>
            <textarea
              class="description-textarea"
              placeholder="Give your project a description"
              rows="{8}"
            ></textarea>
            <div class="upload-file-div">
              <input class="rectangle-input2" type="file" />
              <div class="files-permitted-png-jpeg-jp">
                Files permitted: png, jpeg, jpg, docx, xlsx, pptx, txt.
              </div>
            </div>
          </div>
          <div class="bottom-section-div5">
            <button class="button-primary5">
              <div class="edit-profile-div9">Add</div>
            </button>
          </div>
        </div>
      </div>
    </div>

    <div
      id="addEditProjectModalContainer"
      class="popup-overlay"
      style="display: none"
    >
      <div class="add-edit-project-modal-div2">
        <div class="title-and-close-div12">
          <div class="closebutton-div6">
            <img
              class="vector-icon31"
              alt=""
              src="public/vector.svg"
              id="popupvectorIcon"
            />
          </div>
          <div class="addedit-project-div1">Add/Edit Project</div>
        </div>
        <div class="main-section-div14">
          <input
            class="project-title-input1"
            type="text"
            placeholder="Title for your project"
          />
          <div class="profiles-div2">
            <div class="heading-div1">
              <div class="profiles-div3">Profiles</div>
            </div>
            <div class="profile-items-div1">
              <input class="generic-checkbox-input1" type="checkbox" />
            </div>
          </div>
          <textarea
            class="description-textarea1"
            placeholder="Give your project a description"
            rows="{8}"
          ></textarea>
          <div class="upload-file-div1">
            <input class="rectangle-input3" type="file" />
            <div class="files-permitted-png-jpeg-jp1">
              Files permitted: png, jpeg, jpg, docx, xlsx, pptx, txt.
            </div>
          </div>
        </div>
        <div class="bottom-section-div6">
          <button class="button-primary6">
            <div class="edit-profile-div10">Add</div>
          </button>
        </div>
      </div>
    </div>

    <div id="simplePopupContainer" class="popup-overlay" style="display: none">
      <div class="simple-popup-div">
        <button class="security-button" id="popupsecurityButton">
          Security</button
        ><button class="security-button" id="popupreportIssueButton">
          Report Issue</button
        ><button class="log-out-button">Log out</button>
      </div>
    </div>

    <script>
      var popupvectorIcon = document.getElementById("popupvectorIcon");
      if (popupvectorIcon) {
        popupvectorIcon.addEventListener("click", function (e) {
          var popup = e.currentTarget.parentNode;
          function isOverlay(node) {
            return !!(
              node &&
              node.classList &&
              node.classList.contains("popup-overlay")
            );
          }
          while (popup && !isOverlay(popup)) {
            popup = popup.parentNode;
          }
          if (isOverlay(popup)) {
            popup.style.display = "none";
          }
        });
      }
      
      var popupvectorIcon = document.getElementById("popupvectorIcon");
      if (popupvectorIcon) {
        popupvectorIcon.addEventListener("click", function (e) {
          var popup = e.currentTarget.parentNode;
          function isOverlay(node) {
            return !!(
              node &&
              node.classList &&
              node.classList.contains("popup-overlay")
            );
          }
          while (popup && !isOverlay(popup)) {
            popup = popup.parentNode;
          }
          if (isOverlay(popup)) {
            popup.style.display = "none";
          }
        });
      }
      
      var popupvectorIcon = document.getElementById("popupvectorIcon");
      if (popupvectorIcon) {
        popupvectorIcon.addEventListener("click", function (e) {
          var popup = e.currentTarget.parentNode;
          function isOverlay(node) {
            return !!(
              node &&
              node.classList &&
              node.classList.contains("popup-overlay")
            );
          }
          while (popup && !isOverlay(popup)) {
            popup = popup.parentNode;
          }
          if (isOverlay(popup)) {
            popup.style.display = "none";
          }
        });
      }
      
      var popupvectorIcon = document.getElementById("popupvectorIcon");
      if (popupvectorIcon) {
        popupvectorIcon.addEventListener("click", function (e) {
          var popup = e.currentTarget.parentNode;
          function isOverlay(node) {
            return !!(
              node &&
              node.classList &&
              node.classList.contains("popup-overlay")
            );
          }
          while (popup && !isOverlay(popup)) {
            popup = popup.parentNode;
          }
          if (isOverlay(popup)) {
            popup.style.display = "none";
          }
        });
      }
      
      var popupvectorIcon = document.getElementById("popupvectorIcon");
      if (popupvectorIcon) {
        popupvectorIcon.addEventListener("click", function (e) {
          var popup = e.currentTarget.parentNode;
          function isOverlay(node) {
            return !!(
              node &&
              node.classList &&
              node.classList.contains("popup-overlay")
            );
          }
          while (popup && !isOverlay(popup)) {
            popup = popup.parentNode;
          }
          if (isOverlay(popup)) {
            popup.style.display = "none";
          }
        });
      }
      
      var popupsecurityButton = document.getElementById("popupsecurityButton");
      if (popupsecurityButton) {
        popupsecurityButton.addEventListener("click", function (e) {
          window.location.href = "./settings-page.html";
        });
      }
      
      var popupreportIssueButton = document.getElementById("popupreportIssueButton");
      if (popupreportIssueButton) {
        popupreportIssueButton.addEventListener("click", function (e) {
          window.location.href = "./report-modal.html";
        });
      }
      
      var buttonSecondary = document.getElementById("buttonSecondary");
      if (buttonSecondary) {
        buttonSecondary.addEventListener("click", function () {
          var popup = document.getElementById("editProfileModalContainer");
          if (!popup) return;
          var popupStyle = popup.style;
          if (popupStyle) {
            popupStyle.display = "flex";
            popupStyle.zIndex = 100;
            popupStyle.backgroundColor = "rgba(113, 113, 113, 0.3)";
            popupStyle.alignItems = "center";
            popupStyle.justifyContent = "center";
          }
          popup.setAttribute("closable", "");
      
          var onClick =
            popup.onClick ||
            function (e) {
              if (e.target === popup && popup.hasAttribute("closable")) {
                popupStyle.display = "none";
              }
            };
          popup.addEventListener("click", onClick);
        });
      }
      
      var edit1Button1 = document.getElementById("edit1Button1");
      if (edit1Button1) {
        edit1Button1.addEventListener("click", function (e) {
          window.location.href = "./interests.html";
        });
      }
      
      var forward1Icon = document.getElementById("forward1Icon");
      if (forward1Icon) {
        forward1Icon.addEventListener("click", function () {
          var popup = document.getElementById("uploadCVModalContainer");
          if (!popup) return;
          var popupStyle = popup.style;
          if (popupStyle) {
            popupStyle.display = "flex";
            popupStyle.zIndex = 100;
            popupStyle.backgroundColor = "rgba(113, 113, 113, 0.3)";
            popupStyle.alignItems = "center";
            popupStyle.justifyContent = "center";
          }
          popup.setAttribute("closable", "");
      
          var onClick =
            popup.onClick ||
            function (e) {
              if (e.target === popup && popup.hasAttribute("closable")) {
                popupStyle.display = "none";
              }
            };
          popup.addEventListener("click", onClick);
        });
      }
      
      var myCvBoxButton = document.getElementById("myCvBoxButton");
      if (myCvBoxButton) {
        myCvBoxButton.addEventListener("click", function () {
          var popup = document.getElementById("uploadCVModalPopup");
          if (!popup) return;
          var popupStyle = popup.style;
          if (popupStyle) {
            popupStyle.display = "flex";
            popupStyle.zIndex = 100;
            popupStyle.backgroundColor = "rgba(113, 113, 113, 0.3)";
            popupStyle.alignItems = "center";
            popupStyle.justifyContent = "center";
          }
          popup.setAttribute("closable", "");
      
          var onClick =
            popup.onClick ||
            function (e) {
              if (e.target === popup && popup.hasAttribute("closable")) {
                popupStyle.display = "none";
              }
            };
          popup.addEventListener("click", onClick);
        });
      }
      
      var frameButton1 = document.getElementById("frameButton1");
      if (frameButton1) {
        frameButton1.addEventListener("click", function () {
          var popup = document.getElementById("addEditProjectModalPopup");
          if (!popup) return;
          var popupStyle = popup.style;
          if (popupStyle) {
            popupStyle.display = "flex";
            popupStyle.zIndex = 100;
            popupStyle.backgroundColor = "rgba(113, 113, 113, 0.3)";
            popupStyle.alignItems = "center";
            popupStyle.justifyContent = "center";
          }
          popup.setAttribute("closable", "");
      
          var onClick =
            popup.onClick ||
            function (e) {
              if (e.target === popup && popup.hasAttribute("closable")) {
                popupStyle.display = "none";
              }
            };
          popup.addEventListener("click", onClick);
        });
      }
      
      var edit3Button = document.getElementById("edit3Button");
      if (edit3Button) {
        edit3Button.addEventListener("click", function () {
          var popup = document.getElementById("addEditProjectModalContainer");
          if (!popup) return;
          var popupStyle = popup.style;
          if (popupStyle) {
            popupStyle.display = "flex";
            popupStyle.zIndex = 100;
            popupStyle.backgroundColor = "rgba(113, 113, 113, 0.3)";
            popupStyle.alignItems = "center";
            popupStyle.justifyContent = "center";
          }
          popup.setAttribute("closable", "");
      
          var onClick =
            popup.onClick ||
            function (e) {
              if (e.target === popup && popup.hasAttribute("closable")) {
                popupStyle.display = "none";
              }
            };
          popup.addEventListener("click", onClick);
        });
      }
      
      var settingsIcon = document.getElementById("settingsIcon");
      if (settingsIcon) {
        settingsIcon.addEventListener("click", function () {
          var popup = document.getElementById("simplePopupContainer");
          if (!popup) return;
          var popupStyle = popup.style;
          if (popupStyle) {
            popupStyle.display = "flex";
            popupStyle.zIndex = 100;
            popupStyle.backgroundColor = "rgba(113, 113, 113, 0.3)";
            popupStyle.alignItems = "center";
            popupStyle.justifyContent = "center";
          }
          popup.setAttribute("closable", "");
      
          var onClick =
            popup.onClick ||
            function (e) {
              if (e.target === popup && popup.hasAttribute("closable")) {
                popupStyle.display = "none";
              }
            };
          popup.addEventListener("click", onClick);
        });
      }
      var scrollAnimElements = document.querySelectorAll("[data-animate-on-scroll]");
      var observer = new IntersectionObserver(
        (entries) => {
          for (const entry of entries) {
            if (entry.isIntersecting || entry.intersectionRatio > 0) {
              const targetElement = entry.target;
              targetElement.classList.add("animate");
              observer.unobserve(targetElement);
            }
          }
        },
        {
          threshold: 0.15,
        }
      );
      
      for (let i = 0; i < scrollAnimElements.length; i++) {
        observer.observe(scrollAnimElements[i]);
      }
      </script>
  </body>

