  <body>
    <div class="upskilling-div">
      <div class="upskilling-scrollable-div">
        <div class="topics-div">
          <div class="topics-div1">
            <div class="topic-bubble-collection-div">              
              <button class="topic-bubble-item-button" *ngFor="let topic of this.topics" (click)="setOpenTopic(topic)">
                <div class="topic-bubble-div" (click)="setOpenTopic(topic)">{{topic}}</div>
              </button>
            </div>
          </div>
        </div>
        <div class="avaliablecourses-div">
          <div class="title-div25">Avaliable Courses</div>
          <div class="courses-div">
            <div
              class="course-card-complete-closed-div"
              id="courseCardCompleteOpenContainer"
              *ngFor="let course of openTopicCourses"
            >
              <div class="icon-div">
                <img class="word-366-icon" alt="" src="assets/public/word-3661.svg"/>
              </div>
              <div class="details-div15">
                <div class="details-div14">
                  <div class="title-div25">{{course.courseTitle}}</div>
                  <div *ngIf="course">
                    <img class="vector-icon50" alt="" src="assets/public/vector48.svg" *ngIf="stringCompletedCourses.includes(course.id)"/>
                  </div>
                </div>
                <div class="desc-div7">
                  {{course.courseDesc}}
                </div>
                <div class="actions-div">
                  <button class="button-secondary4">
                    <a target="_blank"><div class="edit-profile-div16">Review</div></a>
                   </button
                  ><button class="button-secondary5"[class.inactive-button]="stringCompletedCourses.includes(course.id)" [disabled]="(stringCompletedCourses.includes(course.id)) ? 'disabled': ''">
                    <div class="edit-profile-div16">Take Quiz</div>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
