  <body>
    <div class="view-details-active-div">
      <div class="details-div8">
        <div class="job-desc-div">
          <div class="details-div9">
            <div class="title-div21">
              <div class="technical-writer-needed3">
                {{this.selectedJob.jobTitle}}
              </div>
            </div>
            <div class="meta-data-and-buttons-div">
              <div class="meta-data-div3">
                <div class="job-meta-data-div1">
                  <div class="job-meta-data-item-div3">
                    <img
                      class="duration-icon1"
                      alt=""
                      src="assets/public/duration1.svg"
                    />
                    <div class="months-div1">{{this.selectedJob.jobDuration}}</div>
                  </div>
                  <div class="job-meta-data-item-div3">
                    <img
                      class="duration-icon1"
                      alt=""
                      src="assets/public/vector39.svg"
                    />
                    <div class="months-div1">{{this.selectedJob.jobLocation}}</div>
                  </div>
                  <div class="job-meta-data-item-div3">
                    <img
                      class="duration-icon1"
                      alt=""
                      src="assets/public/vector40.svg"
                    />
                    <div class="months-div1">{{this.selectedJob.jobPayRate}}/hr</div>
                  </div>
                </div>
              </div>
              <div class="buttons-div">
                <div class="button-secondary-div1" *ngIf="this.status != 'closed'" [class.red]="this.status == 'posted'">
                  <div class="months-div1" [innerHTML]="this.status == 'active' ? 'Complete Job' : 'Remove Post'"></div>
                </div>
              </div>
            </div>
            <div class="description-div1">
              <div class="lorem-ipsum-dolor-sit-amet-co3">
                {{this.selectedJob.jobDesc}}
              </div>
              <div class="posted-1-september-20221">
                Posted: {{this.selectedJob.jobPostDate}}
              </div>
            </div>
          </div>
          <div class="applicants-div">
            <div class="heading-div5">
              <div class="title-div22">Students</div>
              <button class="button-primary9" id="buttonPrimary" *ngIf="this.status == 'posted'" routerLink="shortlist">
                <div class="edit-profile-div15">View Shortlist</div>
              </button>
            </div>
            <div class="applicants-scrollable-div">
              <div class="applicant-div1">
                <div class="profile-card-posted-div">
                  <div class="top-section-div1">
                    <div class="details-div10">
                      <img
                        class="profile-picture-icon1"
                        alt=""
                        src="assets/public/profile-picture1@2x.png"
                      />
                      <div class="months-div1">Mary Jane</div>
                    </div>
                  </div>
                  <div class="bottom-section-div9">
                    <button class="button-secondary2" *ngIf="this.status == 'posted'">
                      <div class="view-div">View Proposal</div></button
                    ><button class="button-secondary1" id="buttonSecondary2" *ngIf="this.status == 'posted'">
                      <div class="view-div">Add to Shortlist</div>
                    </button>
                    <button class="button-secondary1" id="buttonSecondary2" *ngIf="this.status == 'active' || this.status == 'closed'" (click)="openWriteReviewModal()">
                      <div class="view-div">Write Review</div>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="header-div1">
        <button class="back-button2" id="backButton" routerLink="../..">
          <img class="vector-icon43" alt="" src="assets/public/vector35.svg" />
        </button>
        <div class="details-div12">Details</div>
      </div>
    </div>
  </body>
